<section class="px-6 pb-20">
  <h4 class="text-2xl font-bold text-center mb-4 text-gray-800">NLA</h4>
  <div class="grid md:grid-cols-3 gap-6 max-w-6xl mx-auto">
    <div class="bg-white shadow-md rounded-2xl p-6 hover:shadow-lg transition">
      <h6 class="text-lg font-semibold mb-2">Hallenrapport NLA</h6>
      <p class="text-gray-600 mb-4">Rapport Salle LNA</p>
      <div class="flex justify-between">
        <a href="assets/downloads/d_NLA_Rapport_Sporthalle_und_Spielorganisation_2025.pdf" target="_blank"
           class=" bg-blue-500 hover:bg-blue-600 text-white text-center rounded-2xl p-2 font-medium">
          Download DE
        </a>
        <a href="assets/downloads/f_NLA_Rapport_Sporthalle_und_Spielorganisation_2025.pdf" target="_blank"
           class="bg-blue-500 hover:bg-blue-600 text-white text-center rounded-2xl p-2 font-medium">
          Download FR
        </a>
      </div>

    </div>

    <div class="bg-white shadow-md rounded-2xl p-6 hover:shadow-lg transition">
      <h6 class="text-lg font-semibold mb-2">Leitfaden Bench-Application</h6>
      <p class="text-gray-600 mb-4">Guide Bench-Application</p>
      <div class="flex justify-between">
        <a href="assets/downloads/Leitfaden_Bench-Application-Management_d_Version-2025-10.pdf" target="_blank"
           class=" bg-blue-500 hover:bg-blue-600 text-white text-center rounded-2xl p-2 font-medium">
          Download DE
        </a>
        <a href="assets/downloads/Guide_Bench-Application-Management_f_Version-2025-10.pdf" target="_blank"
           class="bg-blue-500 hover:bg-blue-600 text-white text-center rounded-2xl p-2 font-medium">
          Download FR
        </a>
      </div>
    </div>
  </div>
</section>
