<section class="px-6 pb-20">
  <h2 class="text-2xl font-bold text-center mb-4 text-cyan-700">NLB</h2>
  <div class="grid md:grid-cols-3 gap-6 max-w-6xl mx-auto">
    <div class="bg-white shadow-md rounded-2xl p-6 hover:shadow-xl border border-cyan-100 transition">
      <h3 class="text-lg font-semibold mb-2">Hallenliste mit 1 Ball</h3>
      <p class="text-gray-600 mb-4">Liste de salles 1 ballon</p>
      <div class="flex justify-between">
        <a href="assets/downloads/250912_Hallenliste_NLB_Spiel_mit_1_Ball.pdf"
           class=" bg-cyan-500 hover:bg-cyan-600 text-white text-center rounded-2xl p-2 font-medium">
          Download DE
        </a>
        <a href="assets/downloads/250912_Liste_des_salles_NLB_Jeu_avec_1_ballon.pdf"
           class="bg-cyan-500 hover:bg-cyan-600 text-white text-center rounded-2xl p-2 font-medium">
          Download FR
        </a>
      </div>
    </div>
  </div>
</section>
