<section class="px-6 pb-20">
  <h4 class="text-2xl font-bold text-center mb-4 text-gray-800">Allgemeine Dokumente</h4>
  <div class="grid md:grid-cols-3 gap-6 max-w-6xl mx-auto">
    <div class="bg-white shadow-md rounded-2xl p-6 hover:shadow-lg transition">
      <h6 class="text-lg font-semibold mb-2">Ständige Weisungen</h6>
      <p class="text-gray-600 mb-4">Directives permanentes</p>
      <div class="flex justify-between">
        <a href="assets/downloads/SSK-StändigeWsgSRNatKader_2024-03-22_d.pdf" target="_blank"
           class=" bg-pink-500 hover:bg-pink-600 text-white text-center rounded-2xl p-2 font-medium">
          Download DE
        </a>
        <a href="assets/downloads/SSK-StändigeWsgSRNatKader_2024-03-22_f.pdf" target="_blank"
           class="bg-pink-500 hover:bg-pink-600 text-white text-center rounded-2xl p-2 font-medium">
          Download FR
        </a>
      </div>
    </div>

    <div class="bg-white shadow-md rounded-2xl p-6 hover:shadow-lg transition">
      <h6 class="text-lg font-semibold mb-2">Game Management Leitfaden</h6>
      <p class="text-gray-600 mb-4">Guide Game Management</p>
      <div class="flex justify-between">
        <a href="assets/downloads/Spielprotokoll NL ab 23,24 d_V1.pdf" target="_blank"
           class=" bg-pink-500 hover:bg-pink-600 text-white text-center rounded-2xl p-2 font-medium">
          Download DE
        </a>
        <a href="assets/downloads/Spielprotokoll NL ab 23,24 f_V1.pdf" target="_blank"
           class="bg-pink-500 hover:bg-pink-600 text-white text-center rounded-2xl p-2 font-medium">
          Download FR
        </a>
      </div>
    </div>
    <div class="bg-white shadow-md rounded-2xl p-6 hover:shadow-lg transition">
      <h6 class="text-lg font-semibold mb-2">Spielprotokoll Volleyball</h6>
      <p class="text-gray-600 mb-4">Protocole de match en volleyball</p>
      <div class="flex justify-between">
        <a href="assets/downloads/SSK-StändigeWsgSRNatKader_2024-03-22_d.pdf" target="_blank"
           class=" bg-pink-500 hover:bg-pink-600 text-white text-center rounded-2xl p-2 font-medium">
          Download DE
        </a>
        <a href="assets/downloads/SSK-StändigeWsgSRNatKader_2024-03-22_f.pdf" target="_blank"
           class="bg-pink-500 hover:bg-pink-600 text-white text-center rounded-2xl p-2 font-medium">
          Download FR
        </a>
      </div>
    </div>
  </div>
</section>
<section class="px-6 pb-20">
  <h4 class="text-2xl font-bold text-center mb-4 text-gray-800">Hilfreiche Links</h4>
  <div class="grid md:grid-cols-3 gap-6 max-w-6xl mx-auto">
    <div class="bg-white shadow-md rounded-2xl p-6 hover:shadow-lg transition">
      <h6 class="text-lg font-semibold mb-2">Feedback LR</h6>
      <p class="text-gray-600 mb-4">Feedback JL</p>
      <div class="flex justify-between">
        <a href="https://de.surveymonkey.com/r/Feedback_LR_25_26" target="_blank"
           class=" bg-pink-500 hover:bg-pink-600 text-white text-center rounded-2xl p-2 font-medium flex items-center">
          <div class="pr-2">Surveymonkey</div>
          <mat-icon aria-hidden="false" aria-label="link" fontIcon="open_in_new"></mat-icon>
        </a>
      </div>
    </div>

    <div class="bg-white shadow-md rounded-2xl p-6 hover:shadow-lg transition">
      <h6 class="text-lg font-semibold mb-2">Feedback RD</h6>
      <p class="text-gray-600 mb-4">Feedback RD</p>
      <div class="flex justify-between">
        <a href="https://de.surveymonkey.com/r/RD_Evaluation_25_26_d" target="_blank"
           class=" bg-pink-500 hover:bg-pink-600 text-white text-center rounded-2xl p-2 font-medium flex items-center">
          <div class="pr-2">DE</div>
          <mat-icon aria-hidden="false" aria-label="link" fontIcon="open_in_new"></mat-icon>
        </a>
        <a href="https://fr.surveymonkey.com/r/Evaluation_RD_25_26_f" target="_blank"
           class=" bg-pink-500 hover:bg-pink-600 text-white text-center rounded-2xl p-2 font-medium flex items-center">
          <div class="pr-2">FR</div>
          <mat-icon aria-hidden="false" aria-label="link" fontIcon="open_in_new"></mat-icon>
        </a>
      </div>
    </div>

    <div class="bg-white shadow-md rounded-2xl p-6 hover:shadow-lg transition">
      <h6 class="text-lg font-semibold mb-2">eScoresheet Checklist</h6>
      <p class="text-gray-600 mb-4">eScoresheet Checklist</p>
      <div class="flex justify-between">
        <a href="https://www.volleyball.ch/de/wissen/escoresheet-von-genius-sports" target="_blank"
           class=" bg-pink-500 hover:bg-pink-600 text-white text-center rounded-2xl p-2 font-medium flex items-center">
          <div class="pr-2">SwissVolley</div>
          <mat-icon aria-hidden="false" aria-label="link" fontIcon="open_in_new"></mat-icon>
        </a>
      </div>
    </div>

    <div class="bg-white shadow-md rounded-2xl p-6 hover:shadow-lg transition">
      <h6 class="text-lg font-semibold mb-2">Volleymetrics</h6>
      <p class="text-gray-600 mb-4">Volleymetrics</p>
      <div class="flex justify-between">
        <a href="https://portal.volleymetrics.hudl.com/" target="_blank"
           class=" bg-pink-500 hover:bg-pink-600 text-white text-center rounded-2xl p-2 font-medium flex items-center">
          <div class="pr-2">Hudl Portal</div>
          <mat-icon aria-hidden="false" aria-label="link" fontIcon="open_in_new"></mat-icon>
        </a>
      </div>
    </div>
    <div class="bg-white shadow-md rounded-2xl p-6 hover:shadow-lg transition">
      <h6 class="text-lg font-semibold mb-2">Volleyball Arena</h6>
      <p class="text-gray-600 mb-4">Volleyball Arena</p>
      <div class="flex justify-between">
        <a href="https://volleyballarena.tv/" target="_blank"
           class=" bg-pink-500 hover:bg-pink-600 text-white text-center rounded-2xl p-2 font-medium flex items-center">
          <div class="pr-2">Livestream</div>
          <mat-icon aria-hidden="false" aria-label="link" fontIcon="open_in_new"></mat-icon>
        </a>
      </div>
    </div>

  </div>
</section>
